doctype html

head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(href="./public/css/style.min.css", rel="stylesheet")
  
body
  h1 Hello World
  #text
  script(src="./public/js/bundle.min.js")
  